<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
<!-- <ul>
<li>List popular languages for Data Science</li>
</ul> -->

* Commonly used libraries for Data Science
* List popular languages for Data Science
* Popular tools for Data Science
* Using arithmatic expressions

## Author
Korat Dishant

Some of the commonly used libraries used by Data Scientists include:
    
1. Tensorflow
2. NumPy
3. Pandas
4. Keras
5. Matplotlib
6. Seaborn

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala

<table>
<tr>
    <th> Data Science Tools </th>
</tr>
<tr>
    <td> Jupyter notebook </td>
</tr>
<tr>
    <td> R studio </td>
</tr>
<tr>
    <td> BM Watson Studio </td>
</tr>
<tr>
    <td> Matplotlib </td>
</tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

$ \hat{Y} = \hat\beta_0 + \hat\beta_1 $ <br>
$ \hat{X} = \sum \limits _{i=0} ^{6} X_{k} \beta_1 $  <br>
$ \hat{Z} = \alpha_0 + \gamma_1 $ <br>
$ \hat{M} = X^{2} + Y^{3} $

In [12]:
# This a simple arithmetic expression to mutiply then add integers

print((3*4)+5)

17

In [13]:
# This will convert 200 minutes to hours by diving by 60
hours = 200 / 60
print(hours , "Hours")

3.3333333333333335 Hours